@import "tailwindcss";

:root {
  --background: #ffffff;
  --chat-bubble-blue: #d2e3fc;
  --text-foreground: #202124;
  --input-shadow: 0px 7px 29px 0px #9aa0a6;
  --chat-input-bg: #ffffff;
  --submit-button-bg: #4285f4;
  --nav-bg-color: #ffffff;
  --nav-shadow: 0 4px 12px 0 #9aa0a6;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --chat-bubble-blue: #174ea6;
    --text-foreground: #f1f3f4;
    --input-shadow: none;
    --chat-input-bg: #252525;
    --submit-button-bg: #4285f4;
    --nav-bg-color: #292929;
    --nav-shadow: none;
  }
}

.dark {
  --background: #0a0a0a;
  --foreground: #ededed;
  --chat-bubble-blue: #174ea6;
  --text-foreground: #f1f3f4;
  --chat-input-bg: #252525;
  --submit-button-bg: #4285f4;
  --nav-bg-color: #292929;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--text-foreground);
  --color-chat-bubble-blue: var(--chat-bubble-blue);
  --shadow-input-shadow: var(--input-shadow);
  --shadow-nav-shadow: var(--nav-shadow);

  --color-chat-input-bg: var(--chat-input-bg);
  --color-submit-button-bg: var(--submit-button-bg);
  --color-nav-bg-color: var(--nav-bg-color);
  --font-nunito: var(--font-nunito);
}

body {
  background-color: var(--background);
  color: var(--text-foreground);
  font-family:
    var(--font-nunito), "system-ui", "Verdana", Arial, Helvetica, sans-serif;
}
